html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-content p {
  margin-bottom: 1rem;
}

.blog-content p:last-child {
  margin-bottom: unset;
}

.search input {
  height: 30px;
}

.search input[type='submit'] {
  background: transparent;
  width: 25px;
}

input:disabled {
  opacity: 0.25;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
